body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3{
    font-size: 40px;
}

header{
    display: flex;
    height: 70px;
    justify-content: space-between;
    background-color: #2dd388;
    align-items: center;
    padding: 10px;
    margin-block-end: 20px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 60px;
    margin-right: 10px;
}

#registro{
    /* margin: 50px 50px; */
    margin-top: 50px;
    margin-block-end: 10px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

#cursoN{
    padding: 20px;
}

#coment{
    display: flex;
    padding: 20px;
}

#coment textarea{
    margin: 0px 20px;
}

#tema{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

#tema select{
    height: 50px;
    margin-right: 10px;

}


#autor{
    padding: 20px;
}

#botones{
  /* border: 1px solid black; */
  padding: 20px 20px;
  margin: 0px 500px;
  text-align: center;
}

#botones button{
    text-align: center;
    margin-right: 10px;
    /* padding-left: 50px; */
}

#menu{
    background-color: gray;
}