body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3{
    font-size: 40px;
   
    
}


#tabla{
    /* text-align: center;
    margin-top: 10px; */
    margin-top: 50px;
    margin-block-end: 10px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}



#tabla-areas{
    align-items: center;
    margin-top: 30px;
    margin-block-end: 30px;
}

thead{
    text-align: center;
}

tbody{
    text-align: center;
}

#botones{
    /* border: 1px solid black; */
    padding: 20px;
    text-align: center;
  }
  
  #botones button{
      text-align: center;
      margin-right: 10px;
  }

 
  #menu{
    background-color: gray;
  }
  