body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

h3{
    font-size: 40px;
   
}



#areas{ 
    /* margin-top: 10px;
    text-align: center; */
    margin-top: 50px;
    margin-block-end: 10px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

.d-flex {
    padding: 20px;
}

#validar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    margin: 20px;
}

#validar button {
    align-items: center;
display: flex;
}

#validar h2{
    display: flex;
    align-items: center;
}

#tabla-areas{
    align-items: center;
    margin-block-end: 30px;
}

thead{
    text-align: center;
}

tbody{
    text-align: center;
}

#boton-agregar{
  padding: 20px;
text-align: center ;
    
}

#botones{
    display: flex;
    justify-content:space-evenly;
    
}

#menu {
    background-color: gray;
}