body{
    font-family: Verdana, sans-serif;
    margin: 0px;
}

#menu{
    background-color: grey;
}


#menu-lateral{
    background: white;
    text-align: left;
    width: auto;
    height: 500px;
}


/* ---------------------------------------------------- */
.menuCSS3 ul li ul {
    display: none;
}

.menuCSS3 ul li a:hover + ul, .menuCSS3 ul li ul:hover {
    display: block;
}

.menuCSS3 a {
    display: block;
    padding: 0px;
    background-color: none;
    text-decoration: none;
    color: grey;
}