<nav id="nav" class="navbar navbar-expand-sm navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)"><img src="/assets/pics/logo-didactic.png" alt="Logotipo" width="80" height="80"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/instructor">Instructor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/alumnos">Alumnos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/administrador">Administrador</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/registro">Registro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=""><i class="fa-solid fa-people-roof p-1"></i>Foro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=""><i class="fa-solid fa-comments p-1"></i>Chat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=""><i class="fa-solid fa-power-off p-1"></i>Cerrar sesion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=""><i class="fa-solid fa-user p-1"></i>Usuario</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Search">
          <button class="btn btn-primary" type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </div>
    </div>
  </nav>
